@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:wght@400;500;600&family=Press+Start+2P&family=Quicksand:wght@300;400&family=Roboto:wght@100&display=swap');



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg, #c8c8c8, #ffffff);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.title{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom: 25px;
    height: 3rem;
}

#input-box{
    height: 100%;
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-weight: 14px;
}

button.add{
    height: 100%;
    border:none;
    outline: none;   
    padding: 0 50px;
    background-color: #221a4e;
    color:white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
}

ul li{
    list-style-type: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('/assets/images/unchecked.png');
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;
}

ul li.checked{
    color:#555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url('/assets/images/checked.png');
    background-size: cover;
    background-position: center;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: rgba(255, 0, 0, 1);
    color:white;
}

.buttons{
    display: flex;
    padding-bottom: 2rem;
}

.save{
    border:none;
    width: 50px;
    height: 50px;
    outline: none;   
    background-color: #00ca4e;
    color:white;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
}

.save:hover{  
    background-color: #06ff65;
    transform: scale(1.1);
}

.load{
    border:none;
    width: 50px;
    height: 50px;
    outline: none;   
    background-color: #ffbd44;
    color:white;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
}

.load:hover{
    background-color: #f6ca79;
    transform: scale(1.1);
}

.delete{
    border:none;
    width: 50px;
    height: 50px;
    outline: none;   
    background-color: #ff605c;
    color:white;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
}

.delete:hover{
    background-color: #ff7f7c;
    transform: scale(1.1);
}

button.error {
    animation: shake .6s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
      background-color: red;
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
      background-color: red;
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
      background-color: red;
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
      background-color: red;
    }
  }




